body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
